[submodule "armadillo"]
	path = armadillo
	url = https://github.com/DASLaboratories/Armadillo.git
	
[submodule "lib/armadillo"]
	path = lib/armadillo
	url = https://github.com/DASLaboratories/Armadillo.git
